@model IEnumerable<AutoDealer.Data.Vehicle.Car>
@{
    ViewBag.Title = "لیست خودروها";
    int count = 1;
}

<h2>لیست خودروها ها</h2>

<p>
    <a class="btn btn-primary" href="#">افزودن خودرو</a>
</p>

<table class="table table-bordered">
    <tr>
        <th>
            <span>تصویر</span>
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Manufacturers.ManufacturerName)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Color)
        </th>
        <th>
            @Html.DisplayNameFor(m=>m.Price)
        </th>
        <th>
            @Html.DisplayNameFor(m=>m.CreateTime)
        </th>
        <th>
            @Html.DisplayNameFor(m=>m.IsDelete)
        </th>
        <th>
            @Html.DisplayNameFor(m=>m.Specific)
        </th>
        <th></th>
    </tr>
    <tr>
        @foreach (var car in Model)
        {
            <td>
                
            </td>
            <td>
                @car.Manufacturers.ManufacturerName
            </td>
            <td>
                @car.Color
            </td>
            <td>
                @car.Price
            </td>
            <td>
                @car.CreateTime
            </td>
            <td>
                @car.IsDelete
            </td>
            <td>
                @car.Specific
            </td>
        }
    </tr>
</table>

