
@{
    ViewBag.Title = "صفحه اصلی";
}

<div class="wrapper_1">
    @Html.Action("Slider")
    @Html.Action("Search")
</div>
<div class="clear"></div>
@Html.Action("LastCars")
@Html.Action("Banner")
<div class="wrapper_2">
    <div class="right">
        @Html.Action("RecentBlog")

        @Html.Action("ViewBox")
    </div>
    <div class="left">
        @Html.Action("CarNews")
    </div>
</div>
