
@{
    ViewBag.Title = "صفحه اصلی";
}

<div class="wrapper_1">
    @Html.Action("Slider")
    @Html.Action("Search")
</div>
@Html.Action("LastCars")
@Html.Action("Banner")
<div class="wrapper_2">
    <div class="right">
        @Html.Action("RecentBlog")

        @Html.Action("ViewBox")
    </div>
    <div class="left">
        @Html.Action("CarNews")
    </div>
</div>

@section Scripts
{

    <script src="~/Content/CatalogJS/ListCatalog.js"></script>
    <script src="~/Content/ReloadListJS/ModelList.js"></script>
}
