@using AutoDealer
@model IEnumerable<AutoDealer.Data.Vehicle.Car>

<div class="recent" dir=ltr>
    <h2><strong>اخیر</strong> لیست</h2>
    @if (Model!=null&&Model.Any())
    {
        <div class="recent_carousel">
            @foreach (var item in Model)
            {
                <div class="slide">
                    <a href="/Car/@item.Manufacturers.ID/@item.ModelId">
                        <img src="" alt=""/>
                        <div class="description">@item.ProductionDate<br/>@item.Fuel<br/>@item.SubModel.SubModelTitle<br/>@item.Model.ModelTitle<br/>@item.Trip</div>
                        <div class="title">@item.Manufacturers.ManufacturerName<span class="price">@item.Price</span></div>
                    </a>
                </div>
            }
            
        </div>
    }

</div>