@model AutoDealer.Services.DTO.Advertise.AdvertiseCatalogDto

@{
    ViewBag.Title = ViewBag.ManufacturerName;
}

<div class="main_wrapper">
    <h1>ماشین ها : @Model.TotalCars </h1>

    <div class="catalog_sidebar">
        <div class="search_auto">
            <h3>جستجو خودکار</h3>
            <div class="clear"></div>
            <input type="hidden" name="@nameof(Model.ModelId)" value="@Model.ModelId" id="ModelId" />
            <input type="hidden" name="@nameof(Model.ManufacturerId)" value="@Model.ManufacturerId" id="ManufacturerId" />
            <input type="hidden" name="@nameof(Model.TakeEntity)" value="@Model.TakeEntity" id="TakeEntity" />
            <input type="hidden" name="@nameof(Model.PageId)" value="@Model.PageId" id="PageId" />

            <label><strong>شرکت:</strong></label>
            <div class="select_box_1">
                @Html.DropDownList("ManufacturerId", null, new { @id = "ddlmanufacture", @class = "select_3", @onchange = "javascript:GetModel(this.value);" })
            </div>
            <label><strong>مدل:</strong></label>
            <div class="select_box_1">
                <select class="select2" id="ddlModel"></select>
            </div>
            <label><strong>قیمت:</strong></label>
            <div class="select_box_2">
                <select class="select_4" name="@nameof(Model.FromPrice)" id="ddlFrom">
                    <option value="0">از</option>
                    <option value="1000000">1میلیون</option>
                    <option value="10000000">10میلیون</option>
                    <option value="50000000">50میلیون</option>
                    <option value="100000000">100میلیون</option>
                    <option value="500000000">500میلیون</option>
                    <option value="1000000000">1میلیارد</option>
                    <option value="2000000000">2میلیارد</option>
                </select>
                <select class="select_4" name="@nameof(Model.ToPrice)" id="ddlTo">
                    <option value="0">تا</option>
                    <option value="1000000">1میلیون</option>
                    <option value="10000000">10میلیون</option>
                    <option value="50000000">50میلیون</option>
                    <option value="100000000">100میلیون</option>
                    <option value="500000000">500میلیون</option>
                    <option value="1000000000">1میلیارد</option>
                    <option value="2000000000">2میلیارد</option>
                </select>
                <div class="clear"></div>
            </div>
            <div class="sell_box sell_box_5">
                <div class="input_wrapper">
                    <label><strong>از سال: </strong></label>
                    <input class="txb"  type="text" id="txtFromYear">
                </div>
                <div class="input_wrapper">
                    <label><strong>تا سال </strong></label>
                    <input class="txb"  type="text" id="txtToYear">
                </div>
                <button class="btn_search" onclick="Search()">جستجو</button>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="main_catalog" id="listCar">

    </div>
    <div class="clear"></div>
</div>
@section Scripts
{
    <script src="~/Content/CatalogJS/ListCatalog.js"></script>
    <script src="~/Content/ReloadListJS/ModelList.js"></script>
}

