@model AutoDealer.Services.DTO.Advertise.AdvertiseCatalogDto

@{
    ViewBag.Title = ViewBag.ManufacturerName;
}

<div class="main_wrapper">
    <h1>ماشین ها : @Model.TotalCars </h1>

    <div class="catalog_sidebar">
        <div class="search_auto">
            <h3>جستجو خودکار</h3>
            <div class="clear"></div>
            @using (Ajax.BeginForm("Car", FormMethod.Get, new AjaxOptions()
            {
                UpdateTargetId = "listCar"
            }, new { id = "ListCatalog_Filter" }))
            {
                <input type="hidden" name="@nameof(Model.ModelId)" value="@Model.ModelId" id="ModelId" />
                <input type="hidden" name="@nameof(Model.ManufacturerId)" value="@Model.ManufacturerId" id="ManufacturerId" />
                <input type="hidden" name="@nameof(Model.TakeEntity)" value="@Model.TakeEntity" id="TakeEntity" />
                <input type="hidden" name="@nameof(Model.PageId)" value="@Model.PageId" id="PageId" />

                <label><strong>شرکت:</strong></label>
                <div class="select_box_1">
                    @Html.DropDownList("ManufacturerId", null, new { @id = "ddlmanufacture", @class = "select_3", @onchange = "javascript:GetModel(this.value);" })
                </div>
                <label><strong>مدل:</strong></label>
                <div class="select_box_1">
                    <select class="select_4" name="@nameof(Model.ModelId)" id="ddlModel">
                        <option>هر</option>
                    </select>
                </div>
                <label><strong>قیمت:</strong></label>
                <div class="select_box_2">
                    <select class="select_4" name="@nameof(Model.FromPrice)">
                        <option value="0">از</option>
                        <option value="1">1000</option>
                        <option value="2">2000</option>
                        <option value="3">3000</option>
                        <option value="4">4000</option>
                        <option value="5">5000</option>
                        <option value="6">6000</option>
                        <option value="7">7000</option>
                        <option value="8">8000</option>
                    </select>
                    <select class="select_4" name="@nameof(Model.ToPrice)">
                        <option value="0">تا</option>
                        <option value="1">1000</option>
                        <option value="2">2000</option>
                        <option value="3">3000</option>
                        <option value="4">4000</option>
                        <option value="5">5000</option>
                        <option value="6">6000</option>
                        <option value="7">7000</option>
                        <option value="8">8000</option>
                    </select>
                    <div class="clear"></div>
                </div>
                <input type="submit" value="Search" class="btn_search" />
            }
            <div class="clear"></div>
        </div>
    </div>
    <div class="main_catalog" id="listCar">

    </div>
    <div class="clear"></div>
</div>
@section Scripts
{
    <script src="~/Content/CatalogJS/ListCatalog.js"></script>
    <script src="~/Content/ReloadListJS/ModelList.js"></script>
}

