@using AutoDealer
@using AutoDealer.Data.Vehicle
@model AutoDealer.Services.DTO.Advertise.AdvertiseCatalogDto

<div class="pagination">
    @{
        int i = 0;
        List<Car_Gallery> CarImages = ViewBag.Images as List<Car_Gallery>;
    }
    <ul>
        @for (i = Model.StartPage; i <= Model.EndPage; i++)
        {
            <li class="@((Model.PageId==i)?"active":"")"><a onclick="Pagging(@i)" style="cursor: pointer">@i</a></li>
        }
        <li class="next"><a onclick="Pagging(@(i-1))" style="cursor: pointer"><img src="/Content/images/page_next.gif" alt="Next_Page" /></a></li>
    </ul>
</div>
<div class="clear"></div>

@if (Model.Cars.Any() && Model != null)
{
    <ul class="catalog_table">
        @foreach (var item in Model.Cars)
        {
            <li>
                @if (CarImages != null && CarImages.Any())
                {
                    foreach (var carGallery in CarImages.Where(c=>c.CarId==item.ID))
                    {
                        <a href="#" class="thumb"><img src="@(ImagePath.ThumbImagePath+carGallery.ImageName)"/></a>        
                    }
                }
                
                <div class="catalog_desc">
                    <div class="location">@item.ContactNumber</div>
                    <div class="title_box">
                        <h4><a href="#">@item.Manufacturers.ManufacturerName @item.Model.ModelTitle</a></h4>
                        <div class="price">@item.Price میلیون تومان</div>
                    </div>
                    <div class="clear"></div>
                    <div class="grey_area">
                        <span>@item.ProductionDate</span>
                        <span>@item.Fuel</span>
                        <span>@item.Transmition</span>
                        <span>@item.SubModel.SubModelTitle</span>
                        <span>@item.Trip کیلومتر</span>
                    </div>
                    <a href="#" class="more markered">دیدن جزئیات</a>
                </div>
            </li>
        }

    </ul>
}


<div class="bottom_catalog_box">
    <div class="pagination">
        @{
            int j = 0;
        }
        <ul>
            @for (j = Model.StartPage; j <= Model.EndPage; j++)
            {
                <li class="@((Model.PageId==j)?"active":"")"><a onclick="Pagging(@j)" style="cursor: pointer">@j</a></li>
            }
            <li class="next"><a onclick="Pagging(@(j-1))" style="cursor: pointer"><img src="/Content/images/page_next.gif" alt="Next_Page" /></a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
